scene {
  width: 1280px;
  height: 720px;
  display: inline-block;
}

canvas {
  height: 100%;
  width: 100%;
}

dialog[type=splash] {
  margin: 0px;
  padding: 0px;
  width: 100vw;
  height: 100vh;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}

body {
  height: 100%;
  width: 100%;
}

dialog[type="inventory"] {
  background-color: rgb(233, 233, 233);
  color: black;
  border: 6px;
  border-color: black;
  border-style: solid;
}

dialog[type="inventory"]>ul {
  list-style: none;
  display: flex;
  padding-left: 0px;
  flex-direction: column;
}

dialog[type="inventory"]>ul>li {
  list-style: none;
  /* margin-bottom: 20px; */
}

dialog[type="inventory"] button {
  display: none;
}

dialog[type="inventory"] img {
  height: 50px;
  width: 50px;
  position: absolute;
  right: 0px;
}

dialog[type="inventory"]>ul>li>description {
  
}

dialog[type="inventory"]>ul>li>name {
  
}

dialog[type="inventory"]>ul>li>amount {
 
}