scene {
  width: 1280px !important;
  height: 720px !important;

  display: flex;
  flex-direction: column;
  align-items: center;
}

splash {
  margin: 5% 0px 5% 0px;
}

canvas {
  position: relative;
  height: 100%;
  width: 100%;

}

name {
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-weight: bold;
  margin-right: 10px;
  margin-left: 10px;
}

speech {
  display: flex;
  justify-content: flex-start;
  align-content: center;
  align-items: center;
  position: relative;
  background-color: white;
  border: solid black;
  bottom: 100px;
  
  height: 80px;
  width: 80%;
}


dialog[type=text]>ul {
  display: flex;
  flex-wrap: wrap;
  flex-direction: column;
}

dialog[type=splash] {
  position: absolute;
  left: 0px;
  top: 0px;
  height: 100vh;
  width: 100vw;
  margin: 0px;
  padding: 0px;
  background-color: rgb(0, 0, 0);
  color: white;
  border: none;
  cursor: pointer;
  text-align: center;
}

dialog[type=splash]>img#FudgeStoryLogo {
  width: 100%;
}

body {
  height: 100vh;
  width: 100vw;
  display: flex;
  justify-content: center;
  margin: 0px;
  padding: 0px;
}

dialog[type="inventory"] {
  width: 400px;
  background-color: rgb(233, 233, 233);
  color: black;
  border: 6px;
  border-color: black;
  border-style: solid;
}

dialog[type="inventory"]>ul {
  list-style: none;
  display: flex;
  flex-direction: column;
}

dialog[type="inventory"]>ul>li {
  list-style: none;
  display: flex;
  align-content: space-between;
  justify-content: space-between;
}

ul li {
  float: left;
  padding: 10px;
  border-bottom: 1px solid #000;
  display: flexbox;
}


dialog[type="inventory"] img {
  position: relative;
  right: 0px;
  height: 50px;
  width: 50px;
}

/* dialog[type="inventory"] button {} */

dialog[type="inventory"]>ul>li>description {
  display: none;
}

/* dialog[type="inventory"]>ul>li>name {} */

dialog[type="inventory"]>ul>li>amount {
  display: none;
}